html {
	scroll-behavior: smooth;	
}

body {
	width: 100%;
	background-image: url('..//img/white-light-abstract.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Lora', serif;
	font-size: 20px;
	color: #303030 ;
}

header {
	margin-top: 12em;
	margin-bottom: 25em;
}



.menu {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 30px;
	width : 80%;
	margin-left: 10%;
	background-color: white;
	display : flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}
.accueil {
	margin-bottom: 3em;
	padding: 10px;
	background-color: white;
	border: solid;
	border-color: #C0C0C0;
	border-width: 1px;
}

.round_image {
	border-radius: 50%;
	height: 100px;
	width: 100px;

}

header a {
	padding: 10px;
	height: 80px;
	width: 33%;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	text-decoration: none;
	color: #303030;
	text-align: center;
}

.svg_cartouche {
	width: 50px;
	height: 50px;
}
.svg_cartouche_hover {
	width: 0px;
	height: 0px;
}

a:hover .svg_cartouche {
	width: 0px;
	height: 0px;
  	transition-property: width, height;
  	transition-delay: 0.33s;
  	transition-timing-function: linear;
}
a:hover .svg_cartouche_hover {
	width: 50px;
	height: 50px;
  	transition-property: width, height;
  	transition-delay: 0.33s;
  	transition-timing-function: linear;
}
/*#dfdfdf*/
header a:hover, .icon-bar a:hover {	
	background-color: #C0C0C0;
	border-color: white;
	color: white;
  	transition-property: background-color,border-color,color;
  	transition-duration: 0.4s;
  	transition-timing-function: linear;
}


.centrer_verticale {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.centrer_horizontale {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/**/
/* Style the icon bar links */
.icon-bar a {
  	display: block;
  	text-align: center;
  	padding: 16px;
  	transition: all 0.3s ease;
  	color: white;
  	font-size: 20px;
 	background-color: white;
  	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
}


.sticky {
 	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sticky + .content {
  padding-top: 102px;
}

/**/


.centrer {
	display: flex;
	justify-content: center;
	margin-bottom: 20em;
}
.contenu {
	width: 60%;
	max-width: 30em;
	padding: 2em;
	background-color: white;
}

.sous-partie {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.sous-sous-partie {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	background: #303030;
	align-items: stretch;
}

.svg {
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
}

h1 {
	font-size: 24px;
	flex: 100%;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
}



p {
	padding: 1em;
	font-size: 15px;
	background-color: #dfdfdf;
	flex: 2;
	text-align: center;
	display: block;
	color: #303030;
}


.bloc_gauche {
	font-weight: bold;
	background-color: #C0C0C0;
	padding: 1em;
	flex: 1;

}

ul.principal {
	padding: 1em;
	font-size: 15px;
	background-color: #dfdfdf;
	flex: 2;
	display: block;
	color: #303030;
}

li.description_liste {
	list-style-type: none;
	margin-bottom: 0.3em;
}
li.competence_liste {
	margin-left: 1.3em;
}
li.ul_secondaire {
	list-style-type: none;
}

.barre_blanche {
	border-top: solid;
	border-color: white;
	border-width: 2em;
	padding-top: 1em;
}

.illustr {
	display: flex;
	flex-flow: row wrap;
	justify-content: center; 
	width: 100%;
	background-color: #dfdfdf;
}

img.illustration {

	width: 200px;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.pomme {
	background-color: #DC143C;
}

.sudoku {
	background-color: #87CEFA
}

.quizz {
	background-color: #4169E1;
}

img.illustration2 {

	width: 250px;
	height: 150px;
	margin-bottom: 10px;
	margin-top : 10px;
}

.bouttons {
	list-style: none;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	left: 0;
	bottom: 0;
	margin-bottom: 1em;
	padding-bottom: 5px;
}
.boutton{
	padding: 1em;
	font-size: 12px;
	background-color: #dfdfdf;
	flex: 2;
	text-align: center;
	display: block;
	color: #303030;
	text-decoration: none;
	border : solid;
	border-color: white;
	border-width: 2px;
	border-radius: 25px;
	margin-left : 2em;
}
.boutton:hover{
 	background: #303030;
 	color: white;
	transition: all 0.4s linear;
}

.svg_realisation{
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
}

.svg_realisation_hover{
	width: 0px;
	height: 0px;
	margin-right: 0em;
}

.boutton:hover .svg_realisation {
	width: 0px;
	height: 0px;
	margin-right: 0em;
  	transition-property: all;
  	transition-delay: 0.33s;
  	transition-timing-function: linear;
}
.boutton:hover .svg_realisation_hover {
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
  	transition-property: all;
  	transition-delay: 0.33s;
  	transition-timing-function: linear;
}

p.realisations {

	background-color: #303030;
	color: white;
}

.email {
	text-decoration-line: none;
	color: #303030;
}
.email:hover {
	text-decoration-line: underline;
	text-decoration-color: #303030;
}